<div class="container mt-3">
  <form class="row g-3n" [formGroup]="studentForm">
    <div class="col-md-6">
      <label for="controlName" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="controlName"
        formControlName="controlName"
        [ngClass]="{
          'is-invalid': showErrors && !isControlValid('controlName')
        }"
      />
      <div class="invalid-feedback">El nombre es requerido</div>
    </div>

    <div class="col-md-6">
      <label for="controlLastName" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="controlLastName"
        formControlName="controlLastName"
        [ngClass]="{
          'is-invalid': showErrors && !isControlValid('controlLastName')
        }"
      />
      <div class="invalid-feedback">El apellido es requerido</div>
    </div>

    <div class="col-md-6">
      <label for="controlSubject" class="form-label">Materia</label>
      <input
        type="text"
        class="form-control"
        id="controlSubject"
        formControlName="controlSubject"
        [ngClass]="{
          'is-invalid': showErrors && !isControlValid('controlSubject')
        }"
      />
      <div class="invalid-feedback">La materia es requerido</div>
    </div>

    <div class="col-md-3">
      <label for="controlNote" class="form-label">Nota final</label>
      <input
        type="number"
        class="form-control"
        id="controlNote"
        formControlName="controlNote"
        [ngClass]="{
          'is-invalid': showErrors && !isControlValid('controlNote')
        }"
      />
      <div class="invalid-feedback">La nota es requerido</div>
    </div>
    <div class="col-md-3">
      <label for="controlCondition" class="form-label">Condición</label>
      <input
        type="text"
        class="form-control"
        id="controlCondition"
        formControlName="controlCondition"
        [ngClass]="{
          'is-invalid': showErrors && !isControlValid('controlCondition')
        }"
      />
      <div class="invalid-feedback">La condición es requerido</div>
    </div>

    <div class="col-12">
      <button (click)="onSubmit()" class="btn btn-primary" type="button">
        Enviar
      </button>
    </div>
  </form>
</div>